.hero__container {
    background-color: #2F303A;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 198px;
    background-image: var(--bg-gradient), url(../images/hero-mob1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    @include retina { 
        background-image: var(--bg-gradient), url(../images/hero-mob2x.jpg)
    }
    @media screen and (min-width: 768px) {
        padding-top: 118px;
        padding-bottom: 198px;
        background-image: var(--bg-gradient), url(../images/hero-tab1x.jpg);
    @include retina  {
        background-image: var(--bg-gradient), url(../images/hero-tab2x.jpg)
        }
    }
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 280px;
        height: 600px;
        background-image: var(--bg-gradient), url(../images/hero-dec1x.jpg);
    @include retina {
        background-image: var(--bg-gradient) , url(../images/hero-dec2x.jpg)
}
}
}
.hero__title {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 24px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin: 0 auto;
    max-width: 360px;
    margin-bottom: 30px; 
    
    @media screen and (min-width: 480px) {
        font-size: 26px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
        }
}

